body {
  background-image: url(https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iWGmtnEY2obs/v1/-999x-999.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(18, 82, 165);
  text-align: center;
}