@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  background-image: url(https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iWGmtnEY2obs/v1/-999x-999.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
}

h1 {
  color: rgb(18, 82, 165);
  text-align: center;
}

.showCoordinates, .showTitle{
  background-color: white;
}

#map {
  width: 400px;
  height: 250px;
}
